PORT=4000
MONGO_URI=mongodb://localhost:27017/lokmago
JWT_SECRET=super-secret-key-change-in-production
CLIENT_ORIGIN=http://localhost:5173

# Telegram
TELEGRAM_BOT_TOKEN=your-bot-token

# Payme
PAYME_MERCHANT_ID=your-payme-merchant-id
# Click
CLICK_SERVICE_ID=your-click-service-id
CLICK_MERCHANT_ID=your-click-merchant-id
